@model Tweeter.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<h2 class="col-lg-6 col-lg-offset-5" style="margin-top:150px">@ViewBag.Title</h2>


@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "col-lg-6 col-lg-offset-4", role = "form"}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Username, new { @class = "form-control", placeholder = "Enter New User Name" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Enter Email"})
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Enter Password" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Re-Enter Password", style="margin-bottom:25px" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
