@model Tweeter.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}


<section id="contact" ng-controller="Register">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Register for an Account</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })

                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label for="Username">Username</label>
                            <span class="glyphicon glyphicon-ok text-success" ng-if="userNameExistsCode && userNameExistsCode == 2" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-remove text-danger" ng-if="userNameExistsCode && userNameExistsCode == 1" aria-hidden="true"></span>
                            <input type="text" class="form-control" ng-model="usernameCandidate" ng-blur="checkToSeeIfUsernameExists()" placeholder="Username" name="Username" id="Username" required data-validation-required-message="Please enter your username.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>

                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label for="Email">Email</label>
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder ="you@email.com", @id="Email", @name="Email" })
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>

                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label for="Password">Password</label>
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password", @id = "Password", @name= "Password" })
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>

                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label for="confirmPassword">Confirm Password</label>
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password", @id = "confirmPassword", @name= "confirmPassword" })
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <button type="submit" class="btn btn-success btn-lg">Send</button>
                            </div>
                        </div>
                }
               </div>
            </div>
        </div>
    </section>


@section Scripts {
 @Scripts.Render("~/bundles/jqueryval")
}
